@model OnlineTest.Models.Test

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Test Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_Name)
        </dd>

        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_Description)
        </dd>

        <dt>
            @Html.DisplayName("Total Marks")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_Marks)
        </dd>

        <dt>
            @Html.DisplayName("Passing Marks")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test_PassMarks)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <h3> @Html.ActionLink("Back to List", "Index")</h3>
        </div>
    }
</div>
